@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap");

p {
    font-family: "Noto Sans Thai", sans-serif;
}
.custom-gray-text {
    color: gray;
}

  .new-line {
    display: block;
  }

  
  #largeImageContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#largeImageContainer img {
    max-width: 90%;
    max-height: 90%;
}