@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap");

p {
    font-family: "Noto Sans Thai", sans-serif;
}
.custom-gray-text {
    color: gray;
}

  .new-line {
    display: block;
  }