body, .table-heading, .table-responsive table {
    font-family: "Noto Sans Thai", sans-serif;
}

* {
    box-sizing: border-box;
}

.table-heading {
    text-align: center;
    background: linear-gradient(
        to right,
        rgb(182, 244, 146),
        rgb(51, 139, 147)
    );
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

table {
    min-width: 100%;
}

th,td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

th {
    position: sticky;
    top: 0;
    background: #f9f9f9;
    font-weight: semibold;
    font-size: 1.1rem;
    color: black;
}

th:last-child {
    border: 0;
}

.resize-handle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0;
    width: 3px;
    cursor: col-resize;
}

.resize-handle:hover, .header--being-resized .resize-handle {
    opacity: 0.5;
}

th:hover .resize-handle {
    opacity: 0.3;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #808080;
    word-wrap: break-word;
    white-space: normal;
}

tr:nth-child(even) td {
    background: #f8f6ff;
}

.status-btn {
    display: inline-block;
    padding: 8px 12px;
    background-color: #f0fff8;
    color: #18ab56;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    border: 2px solid #f0fff8;
}

.btn-success {
    display: inline-block;
    padding: 7px 12px;
    background-color: #18ab56;
    color: #f0fff8;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    border: 2px solid #18ab56;
}

.btn-request-outline {
    display: inline-block;
    padding: 8px 12px;
    background-color: transparent;
    color: #ffbc10;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid #ffbc10;
    transition: color 0.3s, background-color 0.3s;
}
.btn-request-outline:hover {
    color: white;
    background-color: #ffbc10;
}
.btn-request-outline:active {
    color: white;
    background-color: #ffbc10;
    border-color: #ffbc10;
}

.btn-except-outline {
    display: inline-block;
    padding: 8px 12px;
    background-color: transparent;
    color: #df3139;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid #df3139;
    transition: color 0.3s, background-color 0.3s;
}

.btn-except-outline:hover {
    color: white;
    background-color: #df3139;
    border-color: #df3139;
}
.btn-request-outline:active {
    color: white;
    background-color: #df3139;
    border-color: #df3139;
}

td.custom-td {
    font-weight: 600;
    color: black;
}
.long-cell {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    text-align: left;
}

.btn-danger {
    display: inline-block;
    padding: 7px 12px;
    background-color: #ee2626;
    color: #f0fff8;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    border: 2px solid #ee2626;
}

.btn-outline-primary {
    display: inline-block;
    padding: 8px 12px;
    background-color: transparent;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid ;
    transition: color 0.3s, background-color 0.3s;
}
.btn-outline-primary:hover {
    color: white;
}
.btn-outline-primary:active {
    color: white;
}
.modal-header .close {
    font-size: 1.5rem;
    color: #ff0000;
    opacity: 1;
    background: transparent;
    border: none;
}

.modal-header .close:hover, .modal-header .close:focus {
    color: #d70202;
    text-decoration: none;
}
