.fc-day-grid-event {
    overflow: auto;
    max-height: 150px;
}
/* เอาเส้นใต้ของแต่ละวันในปฏิทินออก */
.fc-daygrid-day-number {
    text-decoration: none !important; /* เอาเส้นใต้ของตัวเลขวันออก */
}
