@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap");

.table-heading {
    text-align: center;
    background: radial-gradient(
        circle at 12.3% 19.3%,
        rgb(85, 88, 218) 0%,
        rgb(95, 209, 249) 100.2%
    );
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

th,
td {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
}

thead th {
    background-color: #f9f9f9;
    font-weight: bold;
    font-size: 1.1rem;
    color: black;
}

td {
    color: #808080;
    padding-top: 10px;
    padding-bottom: 10px;
}

tr:nth-child(even) td {
    background-color: #f8f6ff;
}


td.custom-td {
    font-weight: 600;
    color: black;
    text-align: center;
}

.long-cell {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    text-align: left;
}
.table-wrapper {
    max-height: 400px;
    overflow-y: auto;

}.table th {
    position: sticky;
    top: 0;
    background-color: #fff; 
    z-index: 1;
}
.flatpickr-day.disabled-day {
    color: #ddb1b1  !important;
    opacity: 0.5 !important;
    font-weight: bold !important; 
    cursor: not-allowed !important;
    pointer-events: none !important;
  }
  
  .custom-gray-text {
    color: gray;
  }
  .new-line {
    display: block;
  }
  .indent-line {
    margin-left: 1em;
  }