body,
.table-heading,
.table-responsive table {
    font-family: "Noto Sans Thai", sans-serif;
}

* {
    box-sizing: border-box;
}

.table-heading {
    text-align: center;
    background: linear-gradient(
        111.3deg,
        rgb(252, 56, 56) 11.7%,
        rgb(237, 13, 81) 81.7%
    );
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

table {
    min-width: 100vw;
    width: auto;
    flex: 1;
    display: grid;
    border-collapse: collapse;
    /* These are just initial values which are overriden using JavaScript when a column is resized */
    grid-template-columns:
        minmax(100px, 1fr)
        minmax(400px, 1.67fr)
        minmax(170px, 1.67fr)
        minmax(170px, 1.67fr)
        minmax(250px, 1.67fr)
        minmax(250px, 2fr)
        minmax(500px, 3.33fr)
        minmax(190px, 1.67fr)
        minmax(170px, 1.67fr)
        minmax(130px, 1fr)
        minmax(150px, 1fr)
        minmax(200px, 1fr)
        minmax(230px, 1fr)
        minmax(200px, 1fr)
        minmax(150px, 1fr)
        minmax(230px, 1fr);
}

thead,
tbody,
tr {
    display: contents;
}

th,
td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center; /* จัดข้อความให้อยู่ตรงกลางในแนวนอน */
    vertical-align: middle; /* จัดข้อความให้อยู่ตรงกลางในแนวตั้ง */
}

th {
    position: sticky;
    top: 0;
    background: #f9f9f9;
    /* text-align: left; */
    font-weight: semibold;
    font-size: 1.1rem;
    color: black;
}

th:last-child {
    border: 0;
}

.resize-handle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0;
    width: 3px;
    cursor: col-resize;
}

.resize-handle:hover,
/* The following selector is needed so the handle is visible during resize even if the mouse isn't over the handle anymore */
.header--being-resized .resize-handle {
    opacity: 0.5;
}

th:hover .resize-handle {
    opacity: 0.3;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #808080;
}

tr:nth-child(even) td {
    background: #f8f6ff;
}

.btn-except {
    display: inline-block;
    padding: 7px 12px;
    background-color: #df3139;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    border: 2px solid #df3139;
}
.btn-except-outline {
    display: inline-block;
    padding: 8px 12px;
    background-color: transparent;
    color: #df3139;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid #df3139;
    transition: color 0.3s, background-color 0.3s;
}
.btn-except-outline:hover {
    color: white;
    background-color: #df3139;
}
.btn-except-outline:active {
    color: white;
    background-color: #df3139;
    border-color: #df3139;
}
.btn-approved-outline {
    display: inline-block;
    padding: 8px 12px;
    background-color: transparent;
    color: #18ab56;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid #18ab56;
    transition: color 0.3s, background-color 0.3s;
}
.btn-approved-outline:hover {
    color: white;
    background-color: #18ab56;
}
.btn-approved-outline:active {
    color: white;
    background-color: #18ab56;
    border-color: #18ab56;
}

.btn-request-outline {
    display: inline-block;
    padding: 8px 12px;
    background-color: transparent;
    color: #ffbc10;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid #ffbc10;
    transition: color 0.3s, background-color 0.3s;
}
.btn-request-outline:hover {
    color: white;
    background-color: #ffbc10;
}
.btn-request-outline:active {
    color: white;
    background-color: #ffbc10;
    border-color: #ffbc10;
}
td.custom-td {
    font-weight: 600; /* semibold */
    color: black; /* สีดำ */
}
.long-cell {
    white-space: normal; /* Allow text to wrap */
    overflow: visible; /* Ensure overflowing text is visible */
    text-overflow: clip; /* Prevent ellipsis for overflowing text */
    text-align: left; /* Align text to the left */
}
