.btn {
    font-family: "Noto Sans Thai", sans-serif;
}
.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(
        100vh - 1rem
    );
}
.dropdown-scrollable {
    max-height: 300px;
    overflow-y: auto;
}
.tt-menu {
max-height: 300px;
overflow-y: auto;
overflow-x: hidden;
}