.btn {
    font-family: "Noto Sans Thai", sans-serif;
}

body, .container, .form-group, .form-label, .form-select, .form-control {
    font-family: "Noto Sans Thai", sans-serif;
}

.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(
        100vh - 1rem
    );
}
.dropdown-scrollable {
    max-height: 300px;
    overflow-y: auto;
}
.tt-menu {
max-height: 300px;
overflow-y: auto;
overflow-x: hidden;
}

.form-container {
    padding: 20px;
  }
  
  .toggle-btn {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .toggle-btn:hover {
    background-color: #0056b3;
  }
  
  .arrow {
    margin-left: 10px;
    transition: transform 0.3s ease;
  }
  
  .hidden {
    display: none !important;
}

#calendar {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
.flatpickr-day.disabled-day {
  color: #ddb1b1  !important;
  opacity: 0.5 !important;
  font-weight: bold !important; 
  cursor: not-allowed !important;
  pointer-events: none !important;
}

.custom-gray-text {
  color: gray;
}
.new-line {
  display: block;
}
.indent-line {
  margin-left: 1em;
}

.is-invalid {
  border: 2px solid red;
}
