html,
body,
.intro {
  height: 100%;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
tbody td {
  font-weight: 500;
  color: #999999;
}

.status-btn {
  display: inline-block;
  padding: 8px 12px;
  background-color: #f0fff8;
  color: #18ab56;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  border: 2px solid #f0fff8;
}

.btn-except-outline {
  display: inline-block;
  padding: 8px 12px;
  background-color: transparent;
  color: #df3139;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid #df3139;
  transition: color 0.3s, background-color 0.3s;
}

.btn-except-outline:hover {
  color: white;
  background-color: #df3139;
  border-color: #df3139;
}
.btn-request-outline:active {
  color: white;
  background-color: #df3139;
  border-color: #df3139;
}
.btn-except {
  display: inline-block;
  padding: 7px 12px;
  background-color: #df3139;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  border: 2px solid #df3139;
}

.modal-header {
  background-color: #f8f9fa;
}
.modal-body {
  font-size: 1rem;
}
.table th, .table td {
  vertical-align: middle;
}
.table-responsive {
  margin-top: 20px;
}

.container {
  max-width: 1200px;
}
.form-inline .form-group {
  margin-right: 10px;
}
.table th, .table td {
color: black;
text-align: center;

}
.modal-header .close {
  font-size: 1.5rem;
  color: #ff0000;
  opacity: 1;
  background: transparent;
  border: none;
}

.modal-header .close:hover, .modal-header .close:focus {
  color: #d70202;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.75rem; }
  .card > hr {
    margin-right: 0;
    margin-left: 0; }
  .card > .list-group {
    border-top: inherit;
    border-bottom: inherit; }
    .card > .list-group:first-child {
      border-top-width: 0;
      border-top-left-radius: 0.75rem;
      border-top-right-radius: 0.75rem; }
    .card > .list-group:last-child {
      border-bottom-width: 0;
      border-bottom-right-radius: 0.75rem;
      border-bottom-left-radius: 0.75rem; }
  .card > .card-header + .list-group,
  .card > .list-group + .card-footer {
    border-top: 0; }

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem; }

.card-title {
  margin-bottom: 0.5rem; }

.card-subtitle {
  margin-top: -0.25rem;
  margin-bottom: 0; }

.card-text:last-child {
  margin-bottom: 0; }

.card-link + .card-link {
  margin-left: 1rem; }

.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 0 solid rgba(0, 0, 0, 0.125); }
  .card-header:first-child {
    border-radius: 0.75rem 0.75rem 0 0; }

.card-footer {
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-top: 0 solid rgba(0, 0, 0, 0.125); }
  .card-footer:last-child {
    border-radius: 0 0 0.75rem 0.75rem; }

.card-header-tabs {
  margin-right: -0.5rem;
  margin-bottom: -0.5rem;
  margin-left: -0.5rem;
  border-bottom: 0; }

.card-header-pills {
  margin-right: -0.5rem;
  margin-left: -0.5rem; }

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-radius: 0.75rem; }

.card-img,
.card-img-top,
.card-img-bottom {
  width: 100%; }

.card-img,
.card-img-top {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem; }

.card-img,
.card-img-bottom {
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem; }

.card-group > .card {
  margin-bottom: 0.75rem; }

@media (min-width: 576px) {
  .card-group {
    display: flex;
    flex-flow: row wrap; }
    .card-group > .card {
      flex: 1 0 0%;
      margin-bottom: 0; }
      .card-group > .card + .card {
        margin-left: 0;
        border-left: 0; }
      .card-group > .card:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0; }
        .card-group > .card:not(:last-child) .card-img-top,
        .card-group > .card:not(:last-child) .card-header {
          border-top-right-radius: 0; }
        .card-group > .card:not(:last-child) .card-img-bottom,
        .card-group > .card:not(:last-child) .card-footer {
          border-bottom-right-radius: 0; }
      .card-group > .card:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; }
        .card-group > .card:not(:first-child) .card-img-top,
        .card-group > .card:not(:first-child) .card-header {
          border-top-left-radius: 0; }
        .card-group > .card:not(:first-child) .card-img-bottom,
        .card-group > .card:not(:first-child) .card-footer {
          border-bottom-left-radius: 0; } }
          