.checkbox-menu {
    color: #489085;
}
.checkbox-menu input:checked ~ .checkmark:after {
    color: #489085;
}

.btn-menu:focus,
.btn-menu.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(72, 144, 133, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(72, 144, 133, 0.5);
}

.btn.btn-menu {
    border: 1px solid #489085;
    background: #489085;
    color: white;
}

.btn.btn-menu {
    border: 1px solid #489085;
    background: #489085;
}

.btn.btn-menu:hover {
    border: 1px solid #3b6e5f;
    background: #3b6e5f;
    color: white;
}

.btn.btn-menu.btn-outline-menu {
    border: 1px solid #489085;
    background: transparent;
    color: #489085;
}

.btn.btn-menu.btn-outline-menu:hover {
    border: 1px solid transparent;
    background: #489085;
    color: #fff;
}

.btn-menu.disabled,
.btn-menu:disabled {
    color: #fff;
    background-color: #489085;
    border-color: #489085;
}

.btn-menu:not(:disabled):not(.disabled):active,
.btn-menu:not(:disabled):not(.disabled).active,
.show > .btn-menu.dropdown-toggle {
    color: #fff;
    background-color: #3a766f;
    border-color: #356e68;
}

.btn-menu:not(:disabled):not(.disabled):active:focus,
.btn-menu:not(:disabled):not(.disabled).active:focus,
.show > .btn-menu.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(72, 144, 133, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(72, 144, 133, 0.5);
}

.btn.btn-white {
    background: #fff;
    border: 1px solid #fff;
    color: #fff;
}
.btn.btn-white:hover {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}
.btn.btn-white.btn-outline-white {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}
.btn.btn-white.btn-outline-white:hover {
    border: 1px solid transparent;
    background: #fff;
    color: #000;
}

.form-group button,
.form-group .checkbox-wrap,
.form-group .btn-link {
    font-family: "Noto Sans Thai", sans-serif;
}
