@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap");

body,
.table-heading,
.table-responsive table {
    font-family: "Noto Sans Thai", sans-serif;
}

.table-responsive table th,
.table-responsive table td {
    background-color: white !important;
}

table th,
table td {
    background-color: white;
}

* {
    box-sizing: border-box;
}

.table-heading {
    text-align: center;
    background: radial-gradient(
        circle at 12.3% 19.3%,
        rgb(85, 88, 218) 0%,
        rgb(95, 209, 249) 100.2%
    );
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 1000px;
}

th,
td {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
}

thead th {
    background-color: #f9f9f9;
    font-weight: bold;
    font-size: 1.1rem;
    color: black;
}

td {
    color: #808080;
    padding-top: 10px;
    padding-bottom: 10px;
}

tr:nth-child(even) td {
    background-color: #f8f6ff;
}

th {
    position: sticky;
    top: 0;
    background: #f9f9f9;
}

.status-btn {
    display: inline-block;
    padding: 8px 12px;
    background-color: #f0fff8;
    color: #18ab56;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

td.custom-td {
    font-weight: 600;
    color: black;
    text-align: center;
}

.long-cell {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    text-align: left;
}
